node_modules
bin
obj
wwwroot
publish
packages
*.suo
*.user
.vs
.idea
.vscode
.awcache
*.tmp
npm-debug.log
backend/QuoteBuilder.Web/domains.config.json
backend/QuoteBuilder.Web/appsettings.json
backend/QuoteBuilder.Web/Web.config
backend/QuoteBuilder.Web/wkhtmltopdf/
frontend/src/app/app.config.ts
content/
!content/fonts/
!content/images/
.axoCover/
automation/SalesRun.Automation.Runner/App.config
!automation/SalesRun.Automation.Runner/content/
api-tests/config.json
api-tests/node_modules/
api-tests/allUsers.json
backend/QuoteBuilder.Web/App_Data/wkhtmltopdf/
